node-ip: {{ ansible_wg0.ipv4.address }} 
node-external-ip: {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
advertise-address: {{ ansible_wg0.ipv4.address }} 

tls-san:
  - cluster.local
  - 127.0.0.1
  - {{ wireguard_address }} 
  - {{ansible_hostname}}
  - {{ansible_host}}

token: {{ rke2_token }}

{% if rke2_api_ip is defined %}
server: https://{{ rke2_api_ip }}:9345
{% endif %}